/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    /*    padding: 5px 5px;*/
    position: fixed;
    height: 100%;
    width: 8%;
    left: 0px;
    top: 0px;

}

/* Style the header links */
.header a {
    float: top;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#count_down {
    float: top;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 1px;
}

#count_down:hover {
    background-color: #ddd;
    color: black;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}


/*.header a.active:hover {
    background-color: #ddd;
}

/* Style the active/current link
.header a.active {
    padding: 20px;
    background-color: dodgerblue;
    color: darkblue;
}*/

/* Float the link section to the right */
.header_container {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-top: 5px;
    width: 90%;
}

.header_container br {
    margin-top: 10px;
    margin-bottom: 20px;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 10px;
}

#show label {
    float: top;
    color: black;
    text-align: center;
    padding: 5%;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#show label:hover {
    background-color: #ddd;
    color: black;
}

