body {
    background-image: linear-gradient(to left, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
}
h1 {
  color: blue;
}

p {
  color: red;
}

.icon_image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pointer {
    cursor: pointer;
}

.user_data {
    margin-bottom: 10px;
}

.user_data1 {
    margin-bottom: 10px;
    justify-content: center;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.activity_card {
    top: 20px;
    margin-bottom: 10px;
}


textarea {
    width: 150px;
    height: 100px;
}

.myChart {
    width: 80%;
    height: 80%;
    position: absolute;
}